html,
body {
  margin: 0;
  padding: 0;
  width: 1024px;
  height: 768px;
  border: solid 1px;
}

/* dialog */

#dialog {
  max-width: 400px;
  height: 30px;
  margin: 0 auto;
  padding: 20px 10px 0;
}

#dialog div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#dialog p {
  margin: 0;
}

#dialog button {
  margin-left: 20%;
  width: 20%;
}


/* container */


.container {
  padding: 20px;
  display: flex;
}

/* info */

.info {
  margin-right: 15px;
}

.numbers {
  font-size: 14px;
}

.tooltip {
  position: relative;
}

.number {
  cursor: help;
  display: inline-block;
}

.tips {
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #000;
  width: 150px;
  z-index: 2;
  visibility: hidden;
}

.tips:before {
  content: "";
  position: absolute;
  top: -24px;
  right: 60%;
  border: 15px solid transparent;
  border-top: 15px solid #000;
  margin-left: -15px;
  transform: rotateZ(180deg);
}

.number:hover+.tips {
  top: 30px;
  left: 0px;
  transition-delay: .5s;
  visibility: visible;
}

.ethics {
  margin-top: 5px;
}

.ethics .ethic:nth-child(odd) {
  background-color: rgb(197, 188, 188);
}

.ethics .ethic:nth-child(even) {
  background-color: rgb(253, 237, 237);
}

.ethic {
  font-size: 11px;
  margin-bottom: 7px;
  cursor: help;
}

.ethic:hover .tips {
  top: 120%;
  left: 0px;
  transition-delay: .5s;
  visibility: visible;
}

.slider {
  display: block;
}

.number {
  margin: 0;
}

.ethic .left {
  text-align: left;
}

.ethic .right {
  text-align: right;
  display: block;
  margin-left: auto;
}

/* canvas */

#canvas-inner {
  position: relative;
}


/* pops-statu */

.pops-status {
  width: 100%;
}

table {
  width: 100%;
  font-size: 12px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: rgb(243, 243, 243);
}

tr.spacing {
  height: 8px;
}

td {
  width: 50%;
  padding: 1px 0;
}

.catastrophic {
  color: darkred;
}

.awful {
  color: red;
}

.poor {
  color: darkorange;
}

.average {
  color: rgb(138, 138, 4);
}

.good {
  color: green;
}

.excellent {
  color: blue;
}

.legendary {
  color: cyan;
}


/* log */

.log {
  width: 100%;
  height: 200px;
  overflow: scroll;
  /* padding: 0 50px; */
}

.log p {
  width: 60%;
  margin: 0 auto;
  font-size: 12px;
}









/* hidden-UI */


.buttons {
  padding: 20px;
}

.button {
  display: block;
  width: 100%;
  margin: 5px;
}


/* popup */

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}

.popup.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}

#event-title {
  text-align: center;
}

#description {
  margin-bottom: 20px;
}

#choices {}

.btn {
  cursor: pointer;
  border: 1px black solid;
  margin: 5px 0;
}

.btn ul {
  list-style: none;
}

.btn:hover .tips {
  visibility: visible;
  width: 50%;
  left: 50%;
}

.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1;
}


/* tile-info */

#tile-info {
  position: absolute;
  /* transition-delay: .5s; */
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

#tile-info ul {
  list-style-type: none;
  padding: 0 20px;
}